@model IEnumerable<ECommMarket.App.Models.NewsViewModel>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;900&display=swap">
    <link rel="stylesheet" href="/css/news.css">
    <title>Document</title>
    <link rel="icon" href="/images/BrandLogo.jpg">
</head>
<main class="news-container">
    @if(Model.Count() == 0)
    {
        <h1>სიახლეები არ მოიძებნა</h1>
    }
    else{
        @foreach (NewsViewModel news in Model)
        {
            <div class="news-card">
                <div class="news-content">
                    <h3 class="news-title">@news.Title</h3>
                    <p class="news-description">@news.Details</p>
                    <div class="news-meta">
                        <div class="news-meta-info">
                            <span>@news.Timestamp</span>
                        </div>
                        <a class="read-more-a" asp-area="" asp-controller="News" asp-action="NewsItem" asp-route-id="@news.Id"><button class="read-more">Read More</button></a>
                    </div>
                </div>
                <div class="news-thumbnail">
                    <a asp-area="" asp-controller="News" asp-action="NewsItem" asp-route-id="@news.Id"><img src="images/products/shoe-1.png" alt="Thumbnail Image"></a>
                </div>
            </div>
        }
    }
    

</main>
